<div class="page" *ngIf="hasRecords()">
    <h3 *ngIf="title!=''">{{title}}</h3>
    <table class="table table-bordered table-responsive" n *ngIf="hasRecords()">
        <thead>
            <tr>
                <th>
                    {{labels.stage}} 
                </th>
                <th>
                    {{labels.action}} 
                </th>
                <th>
                    {{labels.choice}} 
                </th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let row of filtered; let i = index;">
                <tr *ngIf="row.selected">
                    <td class="tableRow">
                        <span *ngIf="previousTitleIsSame(i); else showStage"></span>
                        <ng-template #showStage>
                            {{row.stage}}
                        </ng-template>
                    </td>
                    <td>
                        <div [outerHTML]="row.item"></div>
                    </td>
                    <td> 
                        <input type="checkbox" id="order">
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>