.checklist label{display: none;}

.checklist table{width: 100%;} 

.checklist table tbody tr > td:nth-child(1){
    width:25%;
}

.checklist table tbody tr > td:nth-child(2){
    width:70%;
}
.checklist table tbody tr > td:nth-child(3){
    width:10%;
}

.mat-horizontal-content-container{padding:unset;}


@media print {
    .checklist .page {page-break-after: always;}
    header, footer{ display: none;}
    .checklist .mat-horizontal-stepper-header-container{display: none !important;}
    .checklist .btn{display: none !important;}
}