﻿@page
@model apps.Pages.ExhibitorModel

@{
    ViewData["Title"] = "Exhibitor Registration Form";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class='bg-grid'>
    <div class="container">
        <div class="row">
            <section class="overflow-hidden  h-100">
                <div class="container h-100">
                    <div class="row align-items-top h-100">
                        <div class="position-relative col-sm-0 col-12 col-lg-5 order-last order-lg-first mt-5 mt-lg-0 h-100 d-none d-lg-block" id='abstract' style='vertical-align:top;background:url(/images/abstract.jpg); background-size:cover;background-repeat: no-repeat;position:relative;z-index:-1;background-color:rgba(54,42,134,.7);'>
                            <img src='/images/spacer.png' style='height:1725px;' />
                        </div>
                        <div class="col-12 col-lg-7 h-100" style='height:100%;background-color:#eee;vertical-align:top;'>
                            <div class="row">
                                <div class="col-12 col-lg-12 mx-auto h-100 px-5 py-1  pb-5" style='vertical-align:top;border:1px solid #ddd;'>
                                    <h2 class="mt-5 mb-1 fs-1">2022 National Conference</h2>
                                    <p class='fs-5 fw-bold mb-4'>
                                        June 8-10<br/>
                                        Niagara Falls, Ontario<br />
                                        <span class='text-info'>Exhibitor Registration Form</span>
                                    </p>
                                    <p>* Required</p>
                                    <form method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.IsMember" class="control-label"></label>
                                            <select asp-for="Exhibitor.IsMember" class='form-select'>
                                                <option value="" selected>Select</option>
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>

                                            </select>
                                            <span asp-validation-for="Exhibitor.IsMember" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.NpiNumber" class="control-label"></label>
                                            <input asp-for="Exhibitor.NpiNumber" class="form-control w-50" />
                                            <span asp-validation-for="Exhibitor.NpiNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.FirstName" class="control-label"></label>*
                                            <input asp-for="Exhibitor.FirstName" class="form-control" />
                                            <span asp-validation-for="Exhibitor.FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.LastName" class="control-label"></label>*
                                            <input asp-for="Exhibitor.LastName" class="form-control" />
                                            <span asp-validation-for="Exhibitor.LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.BadgeName" class="control-label"></label>*
                                            <input asp-for="Exhibitor.BadgeName" class="form-control" />
                                            <span asp-validation-for="Exhibitor.BadgeName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.Title" class="control-label"></label>
                                            <input asp-for="Exhibitor.Title" class="form-control" />
                                            <span asp-validation-for="Exhibitor.Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.Organization" class="control-label"></label>*
                                            <input asp-for="Exhibitor.Organization" class="form-control" />
                                            <span asp-validation-for="Exhibitor.Organization" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.NumberOfEmployees" class="control-label"></label>

                                            <div class='mb-1'>
                                                <select asp-for="Exhibitor.NumberOfEmployees" class='form-select'>
                                                    <option value="" selected>Select</option>
                                                    <option value="Under 200">Under 200</option>
                                                    <option value="200-599">200 - 599</option>
                                                    <option value="600-999">600 - 999</option>
                                                    <option value="1000-1599">1000 - 1599</option>
                                                    <option value="1600+">1600 and up</option>

                                                </select>
                                            </div>
                                            <span asp-validation-for="Exhibitor.NumberOfEmployees" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.Address" class="control-label"></label>
                                            <input asp-for="Exhibitor.Address" class="form-control" />
                                            <span asp-validation-for="Exhibitor.Address" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.City" class="control-label"></label>

                                            <input asp-for="Exhibitor.City" class="form-control" />
                                            <span asp-validation-for="Exhibitor.City" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.Province" class="control-label"></label>
                                            <div class='mb-1'>
                                                <select asp-for="Exhibitor.Province" class='form-select'>
                                                    <option value="">Select</option>
                                                    <option value="AB">Alberta</option>
                                                    <option value="BC">British Columbia</option>
                                                    <option value="MB">Manitoba</option>
                                                    <option value="NB">New Brunswick</option>
                                                    <option value="NL">Newfoundland and Labrador</option>
                                                    <option value="NS">Nova Scotia</option>
                                                    <option value="ON">Ontario</option>
                                                    <option value="PE">Prince Edward Island</option>
                                                    <option value="QC">Quebec</option>
                                                    <option value="SK">Saskatchewan</option>
                                                    <option value="NT">Northwest Territories</option>
                                                    <option value="NU">Nunavut</option>
                                                    <option value="YT">Yukon</option>
                                                </select>
                                            </div>
                                            <span asp-validation-for="Exhibitor.Province" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.PostalCode" class="control-label"></label>
                                            <input asp-for="Exhibitor.PostalCode" class="form-control" maxlength='8' />
                                            <span asp-validation-for="Exhibitor.PostalCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.Email" class="control-label"></label>
                                            <input asp-for="Exhibitor.Email" class="form-control" />
                                            <span asp-validation-for="Exhibitor.Email" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Exhibitor.Phone" class="control-label"></label>
                                            <input asp-for="Exhibitor.Phone" class="form-control" />
                                            <span asp-validation-for="Exhibitor.Phone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.EmergencyContactName" class="control-label"></label> *
                                            <input asp-for="Exhibitor.EmergencyContactName" class="form-control" />
                                            <span asp-validation-for="Exhibitor.EmergencyContactName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.EmergencyContactPhoneNumber" class="control-label"></label> *
                                            <input asp-for="Exhibitor.EmergencyContactPhoneNumber" class="form-control" />
                                            <span asp-validation-for="Exhibitor.EmergencyContactPhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Exhibitor.AccessibilityRequirements" class="control-label"></label>
                                            <input asp-for="Exhibitor.AccessibilityRequirements" class="form-control" />
                                            <span asp-validation-for="Exhibitor.AccessibilityRequirements" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">

                                            <label asp-for="Exhibitor.FirstNPIConference" class="control-label"></label>
                                            <div class='my-2'>
                                                <label><input type="radio" asp-for="Exhibitor.FirstNPIConference" value="true" /> Yes &nbsp;&nbsp;</label>
                                                <label><input type="radio" asp-for="Exhibitor.FirstNPIConference" value="false" /> No</label>
                                            </div>
                                            <span asp-validation-for="Exhibitor.FirstNPIConference" class="text-danger"></span>
                                        </div>
                                        <div class="form-groug my-3">
                                             
                                                <label class="d-inline control-label" asp-for="Exhibitor.Distribute"></label> *
                                                <div class='my-2'>
                                                    <label><input type="radio" asp-for="Exhibitor.Distribute" value="true" /> Yes &nbsp;&nbsp;</label>
                                                    <label><input type="radio" asp-for="Exhibitor.Distribute" value="false" /> No</label>
                                                </div>
                                         
                                            <span asp-validation-for="Exhibitor.Distribute" class="text-danger"></span>
                                        </div>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type='checkbox' asp-for="Exhibitor.ReadWaiver" required="true" value="true" />
                                                <p>* CONFERENCE WAIVER: <a href="https://payroll.ca/CPAWebsite/media/PDF/Conference/2022-In-Person-Conference-Waiver_reviewed-by-legal.pdf" target="_blank">Please click&nbsp;here</a>&nbsp;to read the Conference Waiver and agree before proceeding to register</p>
                                            </label>
                                            <span asp-validation-for="Exhibitor.ReadWaiver" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Submit" class="btn btn-primary w-100" />
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

