﻿@page
@model apps.Pages.ThankYouModel
 
 
@{
    ViewData["Title"] = "Exhibitor";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class='bg-grid'>
    <div class="container">
        <div class="row">
            <section class="overflow-hidden  h-100">
                <div class="container h-100">
                    <div class="row align-items-top h-100">
                       
                        <div class="col-12 col-lg-12 h-100" style='height:100%; vertical-align:top;'>
                            <div class="row">
                                <div class="col-12 col-lg-12 mx-auto h-100 px-5 py-1 text-center">
                                    <h2 class="mt-5 mb-1 fs-1">2022 National Conference</h2>
                                    <p class='fs-5'>
                                        June 8-10<br/>
                                        Niagara Falls, Ontario 
                                    </p>
                                    
                                    <p>
                                        Thank you for submitting your information.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
