.report{
  height: 1600px;
  width: 100%;
}

.container{
  max-width: 80%;
}
 
.bi-content{
  margin-left: 10px;
}

.fs-small{
  font-size: 0.8em;
}

@media screen and (max-width: 1440px) {
  .container{
    max-width: 100%;
  }
}
 