<div class="checklist">
    <h3 *ngIf="title!=''" class="h2 mb-0 font-weight-bold">{{title}}</h3>
    
    <p class="col-sm-12 text-right pb-3">
        <button class="btn btn-primary" (click)="toggleCheckEvent()">{{buttonLabel}}</button>
    </p>
    
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    {{labels.stage}}
                </th>
                <th>
                    {{labels.action}}
                </th>
                <th>
                    {{labels.choice}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableData; let i = index;">
                <td>
                    <span *ngIf="previousTitleIsSame(i); else showStage"></span>
                    <ng-template #showStage>
                        {{row.stage}}
                    </ng-template>
                </td>
                <td>
                    <div [outerHTML]="row.item"></div>
                </td>
                <td>
                  
                    <input type="checkbox" id="order" [checked]="allChecked" (click)="saveChoiceEvent(i, $event)" aria-label="Order">
                </td>
            </tr>
        </tbody>
    </table>
</div>