.checklist  input[type='checkbox']:hover{
    cursor: pointer;
}
.hide{
    display: none !important;
}

.checklist table{width: 100%;}

.checklist table tbody tr > td:nth-child(1){
    width:25%;
}

.checklist table tbody tr > td:nth-child(2){
    width:70%;
}
.checklist table tbody tr > td:nth-child(3){
    width:10%;
}

.mat-horizontal-content-container{padding: 0 !important;}
