﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/apps.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="/light.svg" id="faviconTag" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

    <section>
        <nav class="navbar d-lg-none navbar-light bg-white flex-wrap">
            <div class="container-fluid">
                <div class="d-flex w-100 align-items-center">
                    <a class="navbar-brand" href="#">
                        <img class="img-fluid" src="https://payroll.ca/assets/img/NPI-Logo-Black.png" alt="" width="auto">
                    </a>
                    <button class="navbar-burger navbar-toggler bg-primary-light ms-auto" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
        <div class="position-relative navbar-menu d-none d-lg-block" style="z-index: 9999;">
            <div class="navbar-backdrop d-lg-none position-fixed top-0 end-0 bottom-0 start-0 bg-dark" style="opacity: .5"></div>
            <div class="position-fixed top-0 start-0 bottom-0 w-75 mw-sm-xs pt-6 bg-white overflow-auto">
                <div class="px-6 pb-6 position-relative border-bottom border-secondary-light">
                    <div class="d-inline-flex align-items-center">
                        <a href="#">
                            <img class="img-fluid" src="artemis-assets/logos/artemis-logo-light.svg" alt="" width="auto">
                        </a>
                    </div>
                </div>
                <div class="py-6 px-6">
                    <div> 
                        <h3 class="mb-2 text-secondary text-uppercase small">Secondary</h3>
                        <ul class="nav flex-column mb-12">
                            <li class="nav-item nav-pills">
                                <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
                                    <span class="d-inline-block text-secondary me-3">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.40854 11.7416C8.3727 11.7812 8.33931 11.823 8.30854 11.8666C8.277 11.9131 8.25178 11.9635 8.23354 12.0166C8.20951 12.0639 8.19266 12.1144 8.18354 12.1666C8.17945 12.2221 8.17945 12.2778 8.18354 12.3333C8.18072 12.4426 8.20356 12.5511 8.25021 12.65C8.28763 12.7534 8.34734 12.8473 8.42511 12.9251C8.50288 13.0028 8.59679 13.0625 8.70021 13.1C8.79996 13.144 8.90781 13.1668 9.01687 13.1668C9.12593 13.1668 9.23379 13.144 9.33354 13.1C9.43695 13.0625 9.53087 13.0028 9.60864 12.9251C9.6864 12.8473 9.74611 12.7534 9.78354 12.65C9.82054 12.5486 9.83753 12.4411 9.83354 12.3333C9.83417 12.2236 9.81315 12.1149 9.77168 12.0134C9.73021 11.9118 9.66911 11.8195 9.59187 11.7416C9.5144 11.6635 9.42224 11.6015 9.32069 11.5592C9.21914 11.5169 9.11022 11.4951 9.00021 11.4951C8.8902 11.4951 8.78128 11.5169 8.67973 11.5592C8.57818 11.6015 8.48601 11.6635 8.40854 11.7416ZM9.00021 0.666626C7.35203 0.666626 5.74086 1.15537 4.37045 2.07105C3.00005 2.98672 1.93194 4.28821 1.30121 5.81093C0.670481 7.33365 0.505453 9.0092 0.826997 10.6257C1.14854 12.2422 1.94221 13.7271 3.10765 14.8925C4.27309 16.058 5.75795 16.8516 7.37445 17.1732C8.99096 17.4947 10.6665 17.3297 12.1892 16.699C13.712 16.0682 15.0134 15.0001 15.9291 13.6297C16.8448 12.2593 17.3335 10.6481 17.3335 8.99996C17.3335 7.90561 17.118 6.82198 16.6992 5.81093C16.2804 4.79988 15.6666 3.88122 14.8928 3.1074C14.1189 2.33358 13.2003 1.71975 12.1892 1.30096C11.1782 0.882174 10.0946 0.666626 9.00021 0.666626ZM9.00021 15.6666C7.68166 15.6666 6.39273 15.2756 5.2964 14.5431C4.20008 13.8105 3.34559 12.7694 2.84101 11.5512C2.33643 10.333 2.2044 8.99256 2.46164 7.69936C2.71887 6.40615 3.35381 5.21826 4.28616 4.28591C5.21851 3.35356 6.4064 2.71863 7.6996 2.46139C8.99281 2.20416 10.3333 2.33618 11.5514 2.84076C12.7696 3.34535 13.8108 4.19983 14.5433 5.29616C15.2759 6.39249 15.6669 7.68142 15.6669 8.99996C15.6669 10.7681 14.9645 12.4638 13.7143 13.714C12.464 14.9642 10.7683 15.6666 9.00021 15.6666ZM9.00021 4.83329C8.56109 4.83301 8.12965 4.94839 7.7493 5.16783C7.36894 5.38726 7.0531 5.70301 6.83354 6.08329C6.77324 6.17814 6.73276 6.28421 6.71452 6.39511C6.69628 6.50601 6.70066 6.61945 6.7274 6.72861C6.75414 6.83778 6.80268 6.94041 6.87011 7.03032C6.93754 7.12024 7.02246 7.19558 7.11977 7.25183C7.21707 7.30808 7.32475 7.34406 7.43632 7.35761C7.54789 7.37116 7.66105 7.362 7.76899 7.33069C7.87693 7.29938 7.97742 7.24655 8.06441 7.17539C8.15141 7.10423 8.22311 7.01621 8.27521 6.91663C8.34863 6.78946 8.45435 6.68394 8.58166 6.61077C8.70898 6.53761 8.85336 6.49938 9.00021 6.49996C9.22122 6.49996 9.43318 6.58776 9.58946 6.74404C9.74574 6.90032 9.83354 7.11228 9.83354 7.33329C9.83354 7.55431 9.74574 7.76627 9.58946 7.92255C9.43318 8.07883 9.22122 8.16663 9.00021 8.16663C8.77919 8.16663 8.56723 8.25442 8.41095 8.4107C8.25467 8.56698 8.16687 8.77895 8.16687 8.99996V9.83329C8.16687 10.0543 8.25467 10.2663 8.41095 10.4225C8.56723 10.5788 8.77919 10.6666 9.00021 10.6666C9.22122 10.6666 9.43318 10.5788 9.58946 10.4225C9.74574 10.2663 9.83354 10.0543 9.83354 9.83329V9.68329C10.3847 9.48331 10.848 9.09598 11.1425 8.58902C11.437 8.08205 11.544 7.4877 11.4447 6.90987C11.3454 6.33203 11.0462 5.80747 10.5994 5.42789C10.1525 5.0483 9.58649 4.83784 9.00021 4.83329Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <span class="small">Support Center</span>
                                </a>
                            </li>
                            <li class="nav-item nav-pills">
                                <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
                                    <span class="d-inline-block text-secondary me-3">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.8802 0.666626H3.2135C2.55068 0.667349 1.91522 0.930974 1.44653 1.39966C0.977849 1.86834 0.714224 2.50381 0.713501 3.16663V14.8333C0.714224 15.4961 0.977849 16.1316 1.44653 16.6003C1.91522 17.0689 2.55068 17.3326 3.2135 17.3333H14.8802C15.543 17.3326 16.1785 17.0689 16.6471 16.6003C17.1158 16.1316 17.3794 15.4961 17.3802 14.8333V3.16663C17.3794 2.50381 17.1158 1.86834 16.6471 1.39966C16.1785 0.930974 15.543 0.667349 14.8802 0.666626ZM3.2135 2.33329H14.8802C15.1011 2.33351 15.3129 2.42138 15.4692 2.57761C15.6254 2.73385 15.7133 2.94568 15.7135 3.16663V9.83329H13.6595C13.385 9.83307 13.1148 9.90072 12.8729 10.0302C12.6309 10.1597 12.4248 10.347 12.2728 10.5755L11.1009 12.3333H6.9928L5.82093 10.5755C5.6689 10.347 5.46273 10.1597 5.22079 10.0302C4.97884 9.90072 4.70863 9.83307 4.43421 9.83329H2.38017V3.16663C2.38039 2.94568 2.46826 2.73385 2.62449 2.57761C2.78072 2.42138 2.99255 2.33351 3.2135 2.33329ZM14.8802 15.6666H3.2135C2.99255 15.6664 2.78072 15.5785 2.62449 15.4223C2.46826 15.2661 2.38039 15.0542 2.38017 14.8333V11.5H4.43421L5.60608 13.2578C5.75811 13.4862 5.96428 13.6736 6.20622 13.803C6.44817 13.9325 6.71838 14.0002 6.9928 14H11.1009C11.3753 14.0002 11.6455 13.9325 11.8875 13.803C12.1294 13.6736 12.3356 13.4862 12.4876 13.2578L13.6595 11.5H15.7135V14.8333C15.7133 15.0542 15.6254 15.2661 15.4692 15.4223C15.3129 15.5785 15.1011 15.6664 14.8802 15.6666Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <span class="small">Inbox</span>
                                </a>
                            </li>
                            <li class="nav-item nav-pills">
                                <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
                                    <span class="d-inline-block text-secondary me-3">
                                        <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18.9831 6.64169C18.9047 6.545 18.8056 6.46712 18.6931 6.41376C18.5806 6.36041 18.4576 6.33293 18.3331 6.33335H16.6665V5.50002C16.6665 4.83698 16.4031 4.20109 15.9342 3.73225C15.4654 3.26341 14.8295 3.00002 14.1665 3.00002H8.93313L8.66646 2.16669C8.49359 1.67771 8.17292 1.2546 7.74888 0.955986C7.32484 0.657367 6.81843 0.498019 6.2998 0.500019H3.33313C2.67009 0.500019 2.0342 0.763411 1.56536 1.23225C1.09652 1.70109 0.83313 2.33698 0.83313 3.00002V13C0.83313 13.6631 1.09652 14.2989 1.56536 14.7678C2.0342 15.2366 2.67009 15.5 3.33313 15.5H15.3331C15.9008 15.4984 16.451 15.3036 16.8933 14.9476C17.3355 14.5917 17.6435 14.0959 17.7665 13.5417L19.1665 7.35002C19.1918 7.22578 19.1885 7.0974 19.1567 6.97466C19.1249 6.85191 19.0656 6.73803 18.9831 6.64169ZM4.4748 13.1834C4.43246 13.3713 4.32629 13.5388 4.17435 13.6574C4.02241 13.7759 3.8341 13.8381 3.64146 13.8334H3.33313C3.11212 13.8334 2.90015 13.7456 2.74387 13.5893C2.58759 13.433 2.4998 13.221 2.4998 13V3.00002C2.4998 2.779 2.58759 2.56704 2.74387 2.41076C2.90015 2.25448 3.11212 2.16669 3.33313 2.16669H6.2998C6.48152 2.1572 6.66135 2.20746 6.81183 2.30978C6.9623 2.4121 7.07515 2.56087 7.13313 2.73335L7.58313 4.10002C7.6366 4.25897 7.7368 4.39809 7.8706 4.49919C8.00441 4.60029 8.16561 4.65867 8.33313 4.66669H14.1665C14.3875 4.66669 14.5994 4.75448 14.7557 4.91076C14.912 5.06704 14.9998 5.27901 14.9998 5.50002V6.33335H6.66646C6.47383 6.32864 6.28551 6.39084 6.13358 6.50935C5.98164 6.62786 5.87546 6.79537 5.83313 6.98335L4.4748 13.1834ZM16.1415 13.1834C16.0991 13.3713 15.993 13.5388 15.841 13.6574C15.6891 13.7759 15.5008 13.8381 15.3081 13.8334H6.00813C6.05117 13.7405 6.08198 13.6425 6.0998 13.5417L7.33313 8.00002H17.3331L16.1415 13.1834Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <span class="small">File Manager</span>
                                </a>
                            </li>
                            <li class="nav-item nav-pills">
                                <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
                                    <span class="d-inline-block text-secondary me-3">
                                        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.09182 8.575C2.01257 8.49913 1.91911 8.43966 1.81682 8.4C1.61394 8.31665 1.38637 8.31665 1.18349 8.4C1.08119 8.43966 0.98774 8.49913 0.908486 8.575C0.832619 8.65425 0.773148 8.74771 0.733486 8.85C0.66967 9.00176 0.652235 9.16902 0.68338 9.33068C0.714525 9.49234 0.792855 9.64115 0.908486 9.75833C0.989487 9.83194 1.0825 9.89113 1.18349 9.93333C1.28324 9.97742 1.39109 10.0002 1.50015 10.0002C1.60921 10.0002 1.71707 9.97742 1.81682 9.93333C1.91781 9.89113 2.01082 9.83194 2.09182 9.75833C2.20745 9.64115 2.28578 9.49234 2.31693 9.33068C2.34807 9.16902 2.33064 9.00176 2.26682 8.85C2.22716 8.74771 2.16769 8.65425 2.09182 8.575ZM4.83349 1.66667H16.5002C16.7212 1.66667 16.9331 1.57887 17.0894 1.42259C17.2457 1.26631 17.3335 1.05435 17.3335 0.833333C17.3335 0.61232 17.2457 0.400358 17.0894 0.244078C16.9331 0.0877975 16.7212 0 16.5002 0H4.83349C4.61247 0 4.40051 0.0877975 4.24423 0.244078C4.08795 0.400358 4.00015 0.61232 4.00015 0.833333C4.00015 1.05435 4.08795 1.26631 4.24423 1.42259C4.40051 1.57887 4.61247 1.66667 4.83349 1.66667ZM2.09182 4.40833C1.97463 4.2927 1.82582 4.21437 1.66416 4.18323C1.50251 4.15208 1.33525 4.16952 1.18349 4.23333C1.0825 4.27554 0.989487 4.33472 0.908486 4.40833C0.832619 4.48759 0.773148 4.58104 0.733486 4.68333C0.689399 4.78308 0.666626 4.89094 0.666626 5C0.666626 5.10906 0.689399 5.21692 0.733486 5.31667C0.775688 5.41765 0.834877 5.51067 0.908486 5.59167C0.989487 5.66528 1.0825 5.72447 1.18349 5.76667C1.28324 5.81075 1.39109 5.83353 1.50015 5.83353C1.60921 5.83353 1.71707 5.81075 1.81682 5.76667C1.91781 5.72447 2.01082 5.66528 2.09182 5.59167C2.16543 5.51067 2.22462 5.41765 2.26682 5.31667C2.31091 5.21692 2.33368 5.10906 2.33368 5C2.33368 4.89094 2.31091 4.78308 2.26682 4.68333C2.22716 4.58104 2.16769 4.48759 2.09182 4.40833ZM16.5002 4.16667H4.83349C4.61247 4.16667 4.40051 4.25446 4.24423 4.41074C4.08795 4.56703 4.00015 4.77899 4.00015 5C4.00015 5.22101 4.08795 5.43298 4.24423 5.58926C4.40051 5.74554 4.61247 5.83333 4.83349 5.83333H16.5002C16.7212 5.83333 16.9331 5.74554 17.0894 5.58926C17.2457 5.43298 17.3335 5.22101 17.3335 5C17.3335 4.77899 17.2457 4.56703 17.0894 4.41074C16.9331 4.25446 16.7212 4.16667 16.5002 4.16667ZM2.09182 0.241667C2.01257 0.165799 1.91911 0.106329 1.81682 0.0666666C1.66506 0.00285041 1.4978 -0.0145849 1.33614 0.0165602C1.17448 0.0477053 1.02567 0.126035 0.908486 0.241667C0.834877 0.322667 0.775688 0.415679 0.733486 0.516667C0.689399 0.616417 0.666626 0.724274 0.666626 0.833333C0.666626 0.942392 0.689399 1.05025 0.733486 1.15C0.775688 1.25099 0.834877 1.344 0.908486 1.425C0.989487 1.49861 1.0825 1.5578 1.18349 1.6C1.33525 1.66382 1.50251 1.68125 1.66416 1.65011C1.82582 1.61896 1.97463 1.54063 2.09182 1.425C2.16543 1.344 2.22462 1.25099 2.26682 1.15C2.31091 1.05025 2.33368 0.942392 2.33368 0.833333C2.33368 0.724274 2.31091 0.616417 2.26682 0.516667C2.22462 0.415679 2.16543 0.322667 2.09182 0.241667ZM16.5002 8.33333H4.83349C4.61247 8.33333 4.40051 8.42113 4.24423 8.57741C4.08795 8.73369 4.00015 8.94565 4.00015 9.16667C4.00015 9.38768 4.08795 9.59964 4.24423 9.75592C4.40051 9.9122 4.61247 10 4.83349 10H16.5002C16.7212 10 16.9331 9.9122 17.0894 9.75592C17.2457 9.59964 17.3335 9.38768 17.3335 9.16667C17.3335 8.94565 17.2457 8.73369 17.0894 8.57741C16.9331 8.42113 16.7212 8.33333 16.5002 8.33333Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <span class="small">Data List</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav flex-column mb-auto">
                            <li class="nav-item nav-pills">
                                <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#" data-removed="true">
                                    <span class="d-inline-block text-secondary me-4">
                                        <svg width="14" height="17" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.7666 6.9583L15.1916 6.4333L15.9333 4.94996C16.0085 4.7947 16.0336 4.61993 16.0053 4.44977C15.9769 4.27961 15.8964 4.12245 15.775 3.99996L14 2.22496C13.8768 2.1017 13.7182 2.02013 13.5463 1.99173C13.3743 1.96333 13.1979 1.98953 13.0416 2.06663L11.5583 2.8083L11.0333 1.2333C10.9778 1.06912 10.8726 0.926317 10.7322 0.824752C10.5918 0.723187 10.4232 0.667916 10.25 0.666629H7.74996C7.57526 0.666178 7.40483 0.720645 7.26277 0.82233C7.12071 0.924016 7.0142 1.06778 6.9583 1.2333L6.4333 2.8083L4.94996 2.06663C4.7947 1.99145 4.61993 1.9663 4.44977 1.99466C4.27961 2.02302 4.12245 2.10349 3.99996 2.22496L2.22496 3.99996C2.1017 4.1231 2.02013 4.28177 1.99173 4.45368C1.96333 4.62558 1.98953 4.80205 2.06663 4.9583L2.8083 6.44163L1.2333 6.96663C1.06912 7.02208 0.926317 7.12732 0.824752 7.26772C0.723187 7.40812 0.667916 7.57668 0.666629 7.74996V10.25C0.666178 10.4247 0.720645 10.5951 0.82233 10.7372C0.924016 10.8792 1.06778 10.9857 1.2333 11.0416L2.8083 11.5666L2.06663 13.05C1.99145 13.2052 1.9663 13.38 1.99466 13.5502C2.02302 13.7203 2.10349 13.8775 2.22496 14L3.99996 15.775C4.1231 15.8982 4.28177 15.9798 4.45368 16.0082C4.62558 16.0366 4.80205 16.0104 4.9583 15.9333L6.44163 15.1916L6.96663 16.7666C7.02253 16.9321 7.12904 17.0759 7.2711 17.1776C7.41317 17.2793 7.58359 17.3337 7.7583 17.3333H10.2583C10.433 17.3337 10.6034 17.2793 10.7455 17.1776C10.8875 17.0759 10.9941 16.9321 11.05 16.7666L11.575 15.1916L13.0583 15.9333C13.2126 16.0066 13.3856 16.0307 13.5541 16.0024C13.7225 15.9741 13.8781 15.8947 14 15.775L15.775 14C15.8982 13.8768 15.9798 13.7182 16.0082 13.5463C16.0366 13.3743 16.0104 13.1979 15.9333 13.0416L15.1916 11.5583L16.7666 11.0333C16.9308 10.9778 17.0736 10.8726 17.1752 10.7322C17.2767 10.5918 17.332 10.4232 17.3333 10.25V7.74996C17.3337 7.57526 17.2793 7.40483 17.1776 7.26277C17.0759 7.12071 16.9321 7.0142 16.7666 6.9583ZM15.6666 9.64996L14.6666 9.9833C14.4367 10.0579 14.2257 10.1816 14.0483 10.3459C13.871 10.5102 13.7315 10.711 13.6395 10.9346C13.5475 11.1582 13.5053 11.3991 13.5158 11.6406C13.5262 11.8821 13.5891 12.1185 13.7 12.3333L14.175 13.2833L13.2583 14.2L12.3333 13.7C12.1196 13.5935 11.8855 13.5342 11.6469 13.526C11.4083 13.5179 11.1707 13.5611 10.9502 13.6528C10.7298 13.7445 10.5316 13.8824 10.3691 14.0573C10.2066 14.2322 10.0835 14.44 10.0083 14.6666L9.67496 15.6666H8.34996L8.01663 14.6666C7.94204 14.4367 7.81832 14.2257 7.65404 14.0483C7.48977 13.871 7.28888 13.7315 7.06531 13.6395C6.84174 13.5475 6.60084 13.5053 6.35932 13.5158C6.11779 13.5262 5.88143 13.5891 5.66663 13.7L4.71663 14.175L3.79996 13.2583L4.29996 12.3333C4.41087 12.1185 4.47373 11.8821 4.48417 11.6406C4.49461 11.3991 4.45238 11.1582 4.36041 10.9346C4.26845 10.711 4.12894 10.5102 3.95158 10.3459C3.77422 10.1816 3.56325 10.0579 3.3333 9.9833L2.3333 9.64996V8.34996L3.3333 8.01663C3.56325 7.94204 3.77422 7.81832 3.95158 7.65404C4.12894 7.48977 4.26845 7.28888 4.36041 7.06531C4.45238 6.84174 4.49461 6.60084 4.48417 6.35932C4.47373 6.11779 4.41087 5.88143 4.29996 5.66663L3.82496 4.74163L4.74163 3.82496L5.66663 4.29996C5.88143 4.41087 6.11779 4.47373 6.35932 4.48417C6.60084 4.49461 6.84174 4.45238 7.06531 4.36041C7.28888 4.26845 7.48977 4.12894 7.65404 3.95158C7.81832 3.77422 7.94204 3.56325 8.01663 3.3333L8.34996 2.3333H9.64996L9.9833 3.3333C10.0579 3.56325 10.1816 3.77422 10.3459 3.95158C10.5102 4.12894 10.711 4.26845 10.9346 4.36041C11.1582 4.45238 11.3991 4.49461 11.6406 4.48417C11.8821 4.47373 12.1185 4.41087 12.3333 4.29996L13.2833 3.82496L14.2 4.74163L13.7 5.66663C13.5935 5.88033 13.5342 6.11442 13.526 6.35304C13.5179 6.59165 13.5611 6.82924 13.6528 7.0497C13.7445 7.27016 13.8824 7.46835 14.0573 7.63086C14.2322 7.79337 14.44 7.9164 14.6666 7.99163L15.6666 8.32496V9.64996ZM8.99996 5.66663C8.34069 5.66663 7.69623 5.86213 7.14806 6.2284C6.5999 6.59467 6.17266 7.11526 5.92036 7.72435C5.66807 8.33344 5.60206 9.00366 5.73068 9.65026C5.8593 10.2969 6.17676 10.8908 6.64294 11.357C7.10911 11.8232 7.70306 12.1406 8.34966 12.2692C8.99626 12.3979 9.66649 12.3319 10.2756 12.0796C10.8847 11.8273 11.4053 11.4 11.7715 10.8519C12.1378 10.3037 12.3333 9.65923 12.3333 8.99996C12.3333 8.11591 11.9821 7.26806 11.357 6.64294C10.7319 6.01782 9.88402 5.66663 8.99996 5.66663ZM8.99996 10.6666C8.67033 10.6666 8.34809 10.5689 8.07401 10.3857C7.79993 10.2026 7.58631 9.94231 7.46016 9.63777C7.33402 9.33322 7.30101 8.99811 7.36532 8.67481C7.42963 8.35151 7.58836 8.05454 7.82145 7.82145C8.05454 7.58836 8.35151 7.42963 8.67481 7.36532C8.99811 7.30101 9.33322 7.33402 9.63777 7.46016C9.94231 7.58631 10.2026 7.79993 10.3857 8.07401C10.5689 8.34809 10.6666 8.67033 10.6666 8.99996C10.6666 9.44199 10.491 9.86591 10.1785 10.1785C9.86591 10.491 9.44199 10.6666 8.99996 10.6666Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <span class="small">Settings</span>
                                </a>
                            </li>
                            <li class="nav-item nav-pills">
                                <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#" data-removed="true">
                                    <span class="d-inline-block text-secondary me-4">
                                        <svg width="14" height="16" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0.333618 8.99996C0.333618 9.22097 0.421416 9.43293 0.577696 9.58922C0.733976 9.7455 0.945938 9.83329 1.16695 9.83329H7.49195L5.57528 11.7416C5.49718 11.8191 5.43518 11.9113 5.39287 12.0128C5.35057 12.1144 5.32879 12.2233 5.32879 12.3333C5.32879 12.4433 5.35057 12.5522 5.39287 12.6538C5.43518 12.7553 5.49718 12.8475 5.57528 12.925C5.65275 13.0031 5.74492 13.0651 5.84647 13.1074C5.94802 13.1497 6.05694 13.1715 6.16695 13.1715C6.27696 13.1715 6.38588 13.1497 6.48743 13.1074C6.58898 13.0651 6.68115 13.0031 6.75862 12.925L10.0919 9.59163C10.1678 9.51237 10.2273 9.41892 10.2669 9.31663C10.3503 9.11374 10.3503 8.88618 10.2669 8.68329C10.2273 8.581 10.1678 8.48755 10.0919 8.40829L6.75862 5.07496C6.68092 4.99726 6.58868 4.93563 6.48716 4.89358C6.38564 4.85153 6.27683 4.82988 6.16695 4.82988C6.05707 4.82988 5.94826 4.85153 5.84674 4.89358C5.74522 4.93563 5.65298 4.99726 5.57528 5.07496C5.49759 5.15266 5.43595 5.2449 5.3939 5.34642C5.35185 5.44794 5.33021 5.55674 5.33021 5.66663C5.33021 5.77651 5.35185 5.88532 5.3939 5.98683C5.43595 6.08835 5.49759 6.18059 5.57528 6.25829L7.49195 8.16663H1.16695C0.945938 8.16663 0.733976 8.25442 0.577696 8.4107C0.421416 8.56698 0.333618 8.77895 0.333618 8.99996V8.99996ZM11.1669 0.666626H2.83362C2.17058 0.666626 1.53469 0.930018 1.06585 1.39886C0.59701 1.8677 0.333618 2.50358 0.333618 3.16663V5.66663C0.333618 5.88764 0.421416 6.0996 0.577696 6.25588C0.733976 6.41216 0.945938 6.49996 1.16695 6.49996C1.38797 6.49996 1.59993 6.41216 1.75621 6.25588C1.91249 6.0996 2.00028 5.88764 2.00028 5.66663V3.16663C2.00028 2.94561 2.08808 2.73365 2.24436 2.57737C2.40064 2.42109 2.6126 2.33329 2.83362 2.33329H11.1669C11.388 2.33329 11.5999 2.42109 11.7562 2.57737C11.9125 2.73365 12.0003 2.94561 12.0003 3.16663V14.8333C12.0003 15.0543 11.9125 15.2663 11.7562 15.4225C11.5999 15.5788 11.388 15.6666 11.1669 15.6666H2.83362C2.6126 15.6666 2.40064 15.5788 2.24436 15.4225C2.08808 15.2663 2.00028 15.0543 2.00028 14.8333V12.3333C2.00028 12.1123 1.91249 11.9003 1.75621 11.744C1.59993 11.5878 1.38797 11.5 1.16695 11.5C0.945938 11.5 0.733976 11.5878 0.577696 11.744C0.421416 11.9003 0.333618 12.1123 0.333618 12.3333V14.8333C0.333618 15.4963 0.59701 16.1322 1.06585 16.6011C1.53469 17.0699 2.17058 17.3333 2.83362 17.3333H11.1669C11.83 17.3333 12.4659 17.0699 12.9347 16.6011C13.4036 16.1322 13.6669 15.4963 13.6669 14.8333V3.16663C13.6669 2.50358 13.4036 1.8677 12.9347 1.39886C12.4659 0.930018 11.83 0.666626 11.1669 0.666626Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    <span class="small">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto ms-lg-80">@RenderBody()</div>
    </section>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
      feather.replace()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


