<mat-stepper [linear]="true" #stepper>
    <mat-step  label="{{labels.hiringProcess}}">
        <div class="mt-4">
             
        </div>
        <app-table 
            
            title="{{labels.hiringProcess}}"
            (toggleCheck)="toggleCheck($event)"
            (choiceChanged)="saveChoice($event)" 
            [tableData]="data.hiringProcedure" 
        key="hiringProcedure"></app-table>
        <div class="text-right"> 
            <a href="JavaScript://" class="btn btn-primary"  (click)="stepper.next()">{{labels.next}}</a>
        </div>
    </mat-step>
    <mat-step  label="{{labels.priorToStartDate}}">
        <div class="mt-4">
             
        </div>
        <app-table 
            
            title="{{labels.priorToStartDate}}"
            (toggleCheck)="toggleCheck($event)"
            (choiceChanged)="saveChoice($event)" 
            [tableData]="data.priorToStartDate" 
        key="priorToStartDate"></app-table>
        <div class="text-right"> 
            <a href="JavaScript://" class="btn btn-primary"  (click)="stepper.next()">{{labels.next}}</a>
        </div>
    </mat-step>

    <mat-step  label="{{labels.startDateAndBeyond}}">
        <div class="mt-4">
             
        </div>
        <app-table 
            
            title="{{labels.startDateAndBeyond}}"
            (toggleCheck)="toggleCheck($event)"
            (choiceChanged)="saveChoice($event)" 
            [tableData]="data.startDateAndBeyond" 
        key="startDateAndBeyond"></app-table>
        <div class="text-right"> 
            <a href="JavaScript://" class="btn btn-primary"  (click)="stepper.next()">{{labels.next}}</a>
        </div>
    </mat-step>

    <mat-step  label="{{labels.employeeHandbookContents}}">
        <div class="mt-4">
             
        </div>
        <app-table 
            
            title="{{labels.employeeHandbookContents}}"
            (toggleCheck)="toggleCheck($event)"
            (choiceChanged)="saveChoice($event)" 
            [tableData]="data.employeeHandbookContents" 
        key="employeeHandbookContents"></app-table>
        <div class="text-right"> 
            <a href="JavaScript://" class="btn btn-primary"  (click)="stepper.next()">{{labels.next}}</a>
        </div>
    </mat-step>

    <mat-step  label="{{labels.integratedPayrollInternet}}">
        <div class="mt-4">
        </div>
        <app-table 
            
            title="{{labels.integratedPayrollInternet}}"
            (toggleCheck)="toggleCheck($event)"
            (choiceChanged)="saveChoice($event)" 
            [tableData]="data.integratedPayrollInternet" 
        key="integratedPayrollInternet"></app-table>
        <div class="text-right"> 
            <a href="JavaScript://" class="btn btn-primary"  (click)="stepper.next()">{{labels.next}}</a>
        </div>
    </mat-step>


    <mat-step label="{{labels.done}}">
        <div class="mt-4 text-right mb-3">
            <a class="btn btn-primary" onclick="window.print()">{{labels.print}}</a> 
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td  width="50%">{{labels.employeeName}} ________________________</td>
                    <td  width="50%">{{labels.employeeNumber}} _____________________</td>
                </tr>
                <tr>
                    <td  width="50%">{{labels.department}} ___________________________</td>
                    <td  width="50%">{{labels.manager}} ______________________________</td>
                </tr>
                <tr>
                    <td  width="50%">{{labels.dateHired}} ____/____/_____</td>
                    <td  width="50%"></td>
                </tr>
            </tbody>
        </table>
        <app-statictable [tableData]="data.hiringProcedure" key="hiringProcedure" title="{{labels.hiringProcess}}"></app-statictable>
        
        <app-statictable title="{{labels.priorToStartDate}}" [tableData]="data.priorToStartDate" key="priorToStartDate"></app-statictable>

        <app-statictable title="{{labels.startDateAndBeyond}}" [tableData]="data.startDateAndBeyond" key="startDateAndBeyond"></app-statictable>

        <app-statictable title="{{labels.employeeHandbookContents}}" [tableData]="data.employeeHandbookContents" key="employeeHandbookContents"></app-statictable>
        
        <app-statictable title="{{labels.integratedPayrollInternet}}" [tableData]="data.integratedPayrollInternet" key="integratedPayrollInternet"></app-statictable>
        <div>
            <a class="btn btn-primary" matStepperPrevious>{{labels.back}}</a> 
        </div>
    </mat-step>
</mat-stepper> 