 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css');


html {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;    
}

input[type='radio']:hover, select:hover, input[type='checkbox']:hover, label:hover + input[type='checkbox'] {
    cursor: pointer;
}

h2{
    text-transform:uppercase;
}
 

label {
    margin-top: 0.5rem;
}

body{
    background-image: url('/images/pattern-white.svg');
    background-position: center;
}

#abstract {
    background-image: url(/images/abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.text-info {
    color: #016781;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body { 
}
