﻿@page
@model apps.Pages.Admin.ConferenceModel
@{
    ViewData["Title"] = "Conference Exports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class='container'>

    <!-- bootcamps  -->
    <div class='row'>
        <div class='col'>
            <div class='my-2 mb-4' style='float:right;'>
            </div>
            <div class='mt-4'>
                <h1 class='fs-2'>Registrations</h1>
            </div>

            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="p-4 text-center bg-white shadow-sm rounded">
                        <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">1</div> 
                        <h5 class="mb-3">Bootcamp Registrations</h5>
                        <div class='alert alert-info p-1'>
                            <p>There are/is @Model.Bootcamp.Count registration(s).</p>
                        </div>
                         <form method="post">
                            <button asp-page-handler="BootcampExcel" class='btn btn-info float-right'>
                                Download Excel File <i data-feather="download"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="p-4 text-center bg-white shadow-sm rounded">
                        <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">2</div> 
                        <h5 class="mb-3">Exhibitor Registrations</h5>
                        <div class='alert alert-info p-1'>
                            <p>There are/is @Model.Exhibitor.Count registration(s).</p>
                        </div>
                         <form method="post">
                            <button asp-page-handler="ExhibitorExcel" class='btn btn-info float-right'>
                                Download Excel File <i data-feather="download"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="p-4 text-center bg-white shadow-sm rounded">
                        <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">3</div> 
                        <h5 class="mb-3">Expo Registrations</h5>
                        <div class='alert alert-info p-1'>
                            <p>There are/is @Model.Expo.Count registration(s).</p>
                        </div>
                         <form method="post">
                            <button asp-page-handler="ExpoExcel" class='btn btn-info float-right'>
                                Download Excel File <i data-feather="download"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="p-4 text-center bg-white shadow-sm rounded">
                        <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">4</div> 
                        <h5 class="mb-3">Speaker Registrations</h5>
                        <div class='alert alert-info p-1'>
                            <p>There are/is @Model.Speaker.Count registration(s).</p>
                        </div>
                         <form method="post">
                            <button asp-page-handler="SpeakerExcel" class='btn btn-info float-right'>
                                Download Excel File <i data-feather="download"></i>
                            </button>
                        </form>
                    </div>
                </div>

                 <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="p-4 text-center bg-white shadow-sm rounded">
                        <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">
                            5
                        </div> 
                        <h5 class="mb-3">Vendor Registrations</h5>
                        <div class='alert alert-info p-1'>
                            <p>There are/is @Model.Vendor.Count registration(s).</p>
                        </div>
                         <form method="post">
                            <button asp-page-handler="VendorExcel" class='btn btn-info float-right'>
                                Download Excel File <i data-feather="download"></i>
                            </button>
                        </form>
                    </div>
                </div>

                 <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="p-4 text-center bg-white shadow-sm rounded">
                        <div class="d-inline-block py-3 px-4 bg-light rounded-circle text-primary fw-bold">
                            6
                        </div> 
                        <h5 class="mb-3">Fun Night Registrations</h5>
                        <div class='alert alert-info p-1'>
                            <p>There are/is @Model.FunNight.Count registration(s).</p>
                        </div>
                         <form method="post">
                            <button asp-page-handler="FunNightExcel" class='btn btn-info float-right'>
                                Download Excel File <i data-feather="download"></i>
                            </button>
                        </form>
                    </div>
                </div>                


            </div>

        </div>
    </div>

</div> 