﻿@page
@model apps.Pages.Admin.TmpModel
@{
    ViewData["Title"] = "Conference Exports";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}




<div class='container'>

     <!-- bootcamps  -->
    <div class='row'>
        <div class='col'>
            <div class='my-2 mb-4' style='float:right;'>
                <form method="post">
                    <button asp-page-handler="BootcampExcel" class='btn btn-info float-right'>
                        Download Complete Excel File <i data-feather="download"></i>
                    </button>
                </form>
            </div>
            <div class='mt-4'>
                <h1 class='fs-2'>Bootcamp Registrations</h1>
            </div>

            <table class='dataTable'>
                <thead>
                    <tr>
                        <th>Row ID</th>
                        <th>NPI Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Name for Badge</th>
                        <th>Organization</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registration in Model.Bootcamp)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => registration.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.NpiNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.BadgeName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => registration.Organization)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <!-- exhibitors -->
    <div class='row'>
        <div class='col'>
            <div class='my-2 mb-4' style='float:right;'>
                <form method="post">
                    <button asp-page-handler="ExhibitorExcel" class='btn btn-info float-right'>
                        Download Complete Excel File <i data-feather="download"></i>
                    </button>
                </form>
            </div>
            <div class='mt-4'>
                <h1 class='fs-2'>Exhibitor Registrations</h1>
            </div>

            <table class='dataTable'>
                <thead>
                    <tr>
                        <th>Row ID</th>
                        <th>NPI Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Name for Badge</th>
                        <th>Organization</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exhibitor in Model.Exhibitor)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => exhibitor.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => exhibitor.NpiNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => exhibitor.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => exhibitor.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => exhibitor.BadgeName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => exhibitor.Organization)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    

    <!-- expo -->
    <div class='row'>
        <div class='col'>
            <div class='my-2 mb-4' style='float:right;'>
                <form method="post">
                    <button asp-page-handler="ExpoExcel" class='btn btn-info float-right'>
                        Download Complete Excel File <i data-feather="download"></i>
                    </button>
                </form>
            </div>
            <div class='mt-4'>
                <h1 class='fs-2'>Expo Registrations</h1>
            </div>

            <table class='dataTable'>
                <thead>
                    <tr>
                        <th>Row ID</th>
                        <th>NPI Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Name for Badge</th>
                        <th>Organization</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registration in Model.Expo)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => registration.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.NpiNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => registration.BadgeName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => registration.Organization)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>


    <!--speakers-->
    <div class='row'>
        <div class='col'>
            <div class='my-2 mb-4' style='float:right;'>
                <form method="post">
                    <button asp-page-handler="BootcampExcel" class='btn btn-info float-right'>
                        Download Complete Excel File <i data-feather="download"></i>
                    </button>
                </form>
            </div>
            <div class='mt-4'>
                <h1 class='fs-2'>Speaker Registrations</h1>
            </div>

            <table class='dataTable'>
                <thead>
                    <tr>
                        <th>Row ID</th>
                        <th>NPI Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Name for Badge</th>
                        <th>Speaking Date</th>
                        <th>Organization</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var speaker in Model.Speaker)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => speaker.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => speaker.NpiNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => speaker.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => speaker.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => speaker.BadgeName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => speaker.SpeakingDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => speaker.Organization)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div> 